<%- include('./fragments/header.ejs', {navLocation: null}) %>

<main>
    <h2><%= error.status %>: <%= message %></h2>
    <pre><%= error.stack %></pre>
</main>

<%- include('./fragments/footer.ejs') %>
